BSC Dipole Simulation/*
!BSC Dipole Simulation/makefile
!BSC Dipole Simulation/C-Files/*
BSC Graphic Output/*
!BSC Graphic Output/*.[ch]
!BSC Graphic Output/*.bmp
!BSC Graphic Output/makefile
.metadata
Random Tests
