*density
*movies
*simulation
*simulation_*
*velocity
*graphic
*histogram
*builder
*picture
*equaliser
*write_to_file
*.hdf5
*.bmp
*.csv
*.dat
*Results/
*/Config_Files/*
!*/Config_Files/default
*Test/
*Jobs/
*Start/*
*analysis
*analyze.sh
*Temp/
*statistics
